
    
body { 	
        font-family: "Open Sans", sans-serif;
        background-color: black; 
    	}	

.clock { 	
        background: white url(Ios_clock.svg) no-repeat center;
        background-size: 90%; 		
        border-radius: 50%/50%;
 		width: 480px;
 		height: 480px;
        position: relative;
        left: 30%;
        top: 80px; 
     }
.clock .hours {
  background: black;
  height: 20%;
  left: 48.75%;
  position: absolute;
  top: 30%;
  transform-origin: 50% 100%;
  width: 2.5%;
  transform: rotateZ(45deg);
  z-index: 1;
}
.clock .minutes {
  background: blue;
  height: 30%;
  left: 49%;
  position: absolute;
  top: 20%;
  transform-origin: 50% 100%;
  width: 2%;
  transform: rotateZ(90deg);
  z-index: 2;
}

.clock .seconds {
  background: red;
  height: 45%;
  left: 49.5%;
  position: absolute;
  top: 14%;
  transform-origin: 50% 80%;
  width: 1%;
  transform: rotateZ(180deg);
  z-index: 3;
}

p {
  color: white;
  position: relative;
  top: 110%;
  left: 90px;
  zoom: 2;
}